<div class="container">
  <div class="p-grid">
    <div class="p-col-2 align-vertical-center">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" type="text" pInputText [(ngModel)]="joinRoomRequest.name" />
        </div>
        <div class="p-field">
          <label for="room">Room ID</label>
          <input id="room" type="text" pInputText [(ngModel)]="joinRoomRequest.roomId" />
        </div>
      </div>

      <p-button label="Join" (onClick)="onJoin()"></p-button>

      <div class="p-field">
        <label for="question">Question</label>
        <input id="question" type="text" pInputText [(ngModel)]="questionRequest.question" />
      </div>
      <p-button label="Send Question" (onClick)="onSendQuestion()"></p-button>
    </div>
    <div class="p-col-1">
      <p-divider layout="vertical"></p-divider>
    </div>
    <div class="p-col-9">
      <div class="question-container">
        <div *ngFor="let question of questionsResponse; let i = index">
          <p-card header="Question {{ i }}" [style]="{ width: '25rem', 'margin-bottom': '2em' }">
            <ng-template pTemplate="header"> </ng-template>
            <div class="p-grid">
              <div class="p-col-9">
                <p>{{ question.question }}</p>
              </div>
              <div class="p-col-1">
                <p-divider layout="vertical"></p-divider>
              </div>
              <div class="p-col-2">
                <p-button icon="pi pi-angle-up" iconPos="left">
                  <div class="vote-count">5</div>
                </p-button>
              </div>
            </div>
            <ng-template pTemplate="footer">
              <div class="p-grid">
                <div class="p-col-8"></div>
                <div class="p-col-4"><p-button label="Reply" icon="pi pi-comment"></p-button></div>
              </div>
              <p-accordion>
                <p-accordionTab header="Show replies">
                  <div class="p-grid">
                    <div class="p-col-9">
                      <p>This is a test reply 1</p>
                    </div>
                    <div class="p-col-1">
                      <p-divider layout="vertical"></p-divider>
                    </div>
                    <div class="p-col-2">
                      <p-button icon="pi pi-angle-up" iconPos="left">
                        <div class="vote-count">5</div>
                      </p-button>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
