<button pButton type="button" label="Back" (click)="routeToHome()"></button>
<div class="wrapper">
  <div class="preview-div" id="preview-div">
    <div class="preview-list">
      <div class="divider"></div>
      <div *ngFor="let chatroomPreview of chatroomPreviews">
        <app-chatroom-preview
          [chatroomPreviewData]="chatroomPreview"
          [routeToChatWindow]="routeToChatWindow"
        ></app-chatroom-preview>
      </div>
    </div>
  </div>
  <!-- Should place everything within app-chatroom-window. Do an initial check, if < 768, let's not render, else render-->
  <div class="chat-div" *ngIf="chatId === ''; else chatshow">
    <div class="not-selected-div">Please select a chat to start messaging.</div>
  </div>
  <ng-template #chatshow>
    <div id="chat-div" class="chat-div">
      <app-chatroom-window></app-chatroom-window>
    </div>
  </ng-template>
</div>
