<app-main-header></app-main-header>
<div class="my-events-page-wrapper">
  <div class="my-events-bar">
    <span class="my-events-page-title">MY EVENTS</span>
    <button class="general-btn" type="button" (click)="routeToCreatePage()">+ CREATE</button>
  </div>
  <div class="ongoing-events-div">
    <span class="ongoing-events-title">ONGOING</span>
    <div *ngIf="currentEventsArr.length > 0; else noCurrentEvents" class="ongoing-events-grid">
      <app-edit-organized-event-card
        *ngFor="let currentEvent of currentEventsArr"
        [organizedEventDetails]="currentEvent"
      ></app-edit-organized-event-card>
    </div>
    <ng-template #noCurrentEvents>
      <div else class="placeholder">You have no ongoing events!</div>
    </ng-template>
  </div>
  <div class="past-events-div">
    <span class="past-events-title">PAST EVENTS</span>
    <div class="placeholder">You have no past events!</div>
  </div>
</div>
