<app-main-header></app-main-header>
<div class="profile-page-wrapper">
  <span class="profile-page-title">MY PROFILE</span>
  <div class="account-details-div">
    <span class="account-details-title">Account Details</span>
    <div class="account-details-grid">
      <span>Username</span>
      <span>{{ userProfile.username }}</span>
      <span>Email</span>
      <span>{{ userProfile.email }}</span>
      <span>Account Type</span>
      <span>Organizer</span>
    </div>
  </div>
  <div class="profile-details-div">
    <span class="profile-details-title">Profile Details</span>
    <form [formGroup]="profileDetailsForm">
      <div class="profile-details-grid">
        <span>Name</span>
        <input formControlName="name" type="text" />
        <span>Gender</span>
        <select formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <span>Date of Birth</span>
        <input formControlName="dob" type="date" />
        <span>Occupation</span>
        <input formControlName="occupation" type="text" />
        <span>Profile Picture</span>
        <input formControlName="profilePicture" type="text" />
      </div>
    </form>
    <button class="general-btn" type="button" label="Save Details" (click)="saveProfileDetails()">Save Details</button>
  </div>
</div>
