@import '../../../variables.scss';

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin: 10% 5%;
  width: 90%;
}

.card {
  left: 50%;
  top: 20vh;
  transform: translate(-50%, 0);
  position: absolute;
  height: fit-content;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: center;
  padding: 5%;
  background: radial-gradient(50% 50% at 50% 50%, #ffbb00 0%, #fdd66b 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  .card-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding: 10px 0;
  }

  form {
    * {
      margin: 5px 0;
    }

    text-align: left;
    display: flex;
    flex-direction: column;

    input {
      background-color: #fff6de;
      border-radius: 10px;
      border: none;
      font-size: 18px;
      height: 30px;
    }
  }

  .switch-text {
    text-decoration: underline;
    margin: 20px 0 0 0;
    font-size: 14px;
  }

  button {
    background-color: #fff6de;
    font-weight: 700;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 15px;
    width: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  button:hover,
  .switch-text:hover {
    opacity: 50%;
    cursor: pointer;
  }
}

.fade-card {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.fade-card.fade {
  opacity: 0;
  visibility: hidden;
}

@keyframes slide-login-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100vw);
  }
}

@-webkit-keyframes slide-login-out {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100vw);
  }
}

@keyframes slide-login-in {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-login-in {
  from {
    -webkit-transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-register-in {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-register-in {
  from {
    -webkit-transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-register-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100vw);
  }
}

@-webkit-keyframes slide-register-out {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100vw);
  }
}

@media screen and (min-width: $tablet-large) {
  .card {
    margin: auto 0;
    padding: 5% 15%;
    width: 60%;
    text-align: left;

    .card-title {
      font-size: 28px;
      line-height: 28px;
      font-weight: 700;
      padding: 10px 0;
    }

    input {
      width: fit-content;
    }
  }
}
