<app-main-header></app-main-header>
<div class="login-page-wrapper">
  <div class="card-container">
    <div id="login-card" class="card fade-card">
      <span class="card-title">WELCOME TO KAMPONG!</span>
      <form [formGroup]="loginCredentials">
        <label for="username-login">Username</label>
        <input id="username-login" formControlName="username" type="text" />
        <label for="password">Password</label>
        <input id="password-login" formControlName="password" type="password" />
        <button type="button" label="Login" (click)="loginUser()">LOGIN</button>
      </form>
      <span (click)="fadeCard()" class="switch-text">No account? Click here to register!</span>
    </div>
    <div id="register-card" class="card fade-card fade">
      <span class="card-title">REGISTER TODAY!</span>
      <form [formGroup]="registerCredentials">
        <label for="username-register">Username</label>
        <input id="username-register" formControlName="username" type="text" />
        <label for="email-register">Email</label>
        <input id="email-register" formControlName="email" type="text" />
        <label for="password-register">Password</label>
        <input id="password-register" formControlName="password" type="password" />
        <label for="confirm-password">Re-Password</label>
        <input id="confirm-password" formControlName="confirmPassword" type="password" />
        <button type="button" label="Register" (click)="loginUser()">REGISTER</button>
      </form>
      <span (click)="fadeCard()" class="switch-text">Already have an account? Click here to login!</span>
    </div>
  </div>
</div>
