<app-main-header></app-main-header>
<div class="organized-event-page-wrapper">
  <div class="event-details-grid">
    <span class="field">Event:</span>
    <span class="value">{{ eventDetails.eventName }}</span>
    <span class="field">Category:</span>
    <span class="value">{{ eventDetails.category }}</span>
    <span class="field">Start Date:</span>
    <span class="value">{{ eventDetails.startDate }}</span>
    <span class="field">End Date:</span>
    <span class="value">{{ eventDetails.endDate }}</span>
  </div>
  <div class="event-details-description">
    <span class="field">Description</span>
    <span class="value">{{ eventDetails.description }}</span>
  </div>
  <div class="btn-div">
    <button (click)="routeToQNAPage()" class="general-btn" type="button">Q&A Session</button>
    <button (click)="routeToOrganizerProfile()" class="general-btn" type="button">View Organizer</button>
  </div>
</div>
